.parent {
    background-color: goldenrod;
    padding: 6px;
}

.child_one {
    background-color: blue;
    position: relative;
    z-index: -1;
}

.child_two {
    background-color: green;
    position: relative;
}

.child_three {
    background-color: yellow;
}

